body{
    background-color: #68963c;
    
}

h1{
    color: #90c51d;
    font-family: "Elsie", serif;
    font-weight: 400;
    font-style: normal;
}

h2{
    color: #68963c;
    font-size:large;
    font-family: "Elsie", serif;
    font-weight: 500;
    font-style:italic;
    
}

.nav-item{
    
    font-size:medium;
    font-family: "Elsie", serif;
    font-weight: 500;
    font-size: large;
    
}

.carousel-inner{
    margin-top: 10%;
}

.carousel-caption{
    color: #90c51d;
}

.copyright{
    color: #68963c;
    margin-left: 45%;
    
}

@media (min-width: 1025px) {
    .h-custom {
   
        height: 100vh !important;
    }
    }

    .login-container {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(104, 150, 60, 0.5);
    }

    .signup-container {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(104, 150, 60, 0.5); /* Sombra con color verde claro */
    }